body {
  background-color: #f0f2f5;
  position: relative;
  overflow-y: hidden;
}

.page {
  display: flex;
  margin: 90px 250px 0 250px;
  justify-items: center;
}
h3 {
  color: #166fe5;
  font-family: "Times New Roman", Times, serif;
  font-size: 80px;
  padding-top: 70px;
}
h2,
h3 {
  padding-right: 50px;
  margin: 0;
}
h2 {
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-weight: normal;
}
form {
  border: 3px solid #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 10px;
  height: 350px;
  width: 400px;
  text-align: center;
  background-color: #ffffff;
}
.form {
  display: flex;
  flex-direction: column;

  padding: 20px 10px 0 0;
  text-align: center;
  height: 500px;
}
form a {
  text-decoration: none;
  color: #166fe5;
  font-size: 14px;
}
input {
  font-size: 17px;
  padding: 14px 16px;
  width: 350px;
  height: 20px;
  margin: 10px 0 10px;

  border-radius: 8px;
  border: 2px solid #dddfe2;
}
input:hover {
  border: 2px solid #166fe5;
}

button {
  width: 380px;
  height: 50px;
  color: white;
  margin: 10px 10px 10px 10px;
  background-color: #166fe5;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  font-weight: 600;
}

.create {
  height: 40px;
  width: 170px;
  color: white;
  background-color: #36a420;
  border-radius: 5px;
  cursor: pointer;
}
.create:focus-within .signupprimary {
  display: flex;
}
.signupprimary {
  justify-content: center;

  display: none;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(240, 242, 245, 0.8);
}
.p {
  margin-top: 2px;
  padding: 0;
  color: RGB(119, 119, 119);
}
.pp {
  color: RGB(28, 30, 33);
  font-weight: 600;
  font-size: 32px;
  margin-top: 10px;
}
.signupcreate {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 400px;
  height: 570px;
  font-size: 14px;
  background-color: white;
  color: RGB(119, 119, 119);
  padding-left: 15px;
  text-align: left;
}

.signupcreate input {
  width: 345px;
  height: 8px;
  background-color: #f5f6f7;
}
.username {
  display: flex;
}
.username input {
  width: 150px;
  margin-right: 5px;
  height: 8px;
  background-color: #f5f6f7;
}
.dob select {
  width: 125px;
  border-radius: 5px;
  font-size: 15px;
  height: 32px;
}
.dob p {
  margin: 0;
  padding: 0;
  font-weight: 100;
  font-weight: 12px;
  color: RGB(119, 119, 119);
}
.gender {
  margin-top: 10px;
  display: flex;
  font-weight: 100;
  flex-direction: column;
}
.allpick {
  display: flex;
  color: RGB(28, 30, 33);
}

.pick {
  display: flex;
  align-items: center;
  margin: 2px;
  border-radius: 4px;
  border: 1px solid #f4f7f9ea;
  box-shadow: 0px 0 1px;
  width: 113px;
  height: 35px;
  font-size: 15px;
  padding-left: 10px;
}
.pick input[type="radio"] {
  border: 0px;
  width: 50%;
  height: 0.9em;
  margin-left: 10px;
}
.signupcreate .span {
  font-size: 12px;
  font-weight: 100;
  margin-top: 10px;
}
.signupcreate a {
  font-size: 12px;
}
#ip {
  color: #ffffff;
}
.signupdown {
  margin: auto;
  width: 170px;
  height: 35px;
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 800;
  background-color: #36a420;
}
